<div class="container">
	<div class="col-lg-3">
    </div>
    <div class="col-lg-6">
      <h1>本日のハントしたラーメン</h1>
		  <%= form_for(@post, url: posts_path) do |f| %>
		    <div class="row">
				<div class="col-lg-6">
					<%= f.file_field :dish_image, class: 'img_field', style: 'display:none;' %>
					<%= attachment_image_tag @post, :dish_image, format: "jpeg", fallback: "no-image.png", size:'200x200', onClick: "$('.img_field').click()", class: 'img-thumbnail img-responsive img_prev' %>
				<p>選択するとプレビューされます。<br>画像未選択のままだと、<br>「No Image」になります。</p>
				</div>
				<div class="col-lg-6">
				<table>
					<thead>
						<tr>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><%= f.label :menu_title, "メニュー" %></td>
							<td><%= f.text_field :menu_title %></td>
						</tr>
						<tr>
							<td><%= f.label :price, "価格" %></td>
							<td><%= f.text_field :price %>円</td>
						</tr>
							<td><%= f.label :shop_name, "店舗名" %></td>
							<td><%= f.text_field :shop_name %></td>
						</tr>
							<td><%= f.label :adress, "店舗住所" %></td>
							<td><%= f.text_field :adress %></td>
						</tr>
						<tr>
							<td><%= f.label :comment, "コメント" %></td>
							<td><%= f.text_area :comment %></td>
						</tr>
					</tbody>
				</table>
				</div>
				<div class="flex align-center pl5">
					<%= f.submit "投稿する", class: "btn btn-primary" %>
				</div>
					<% if flash[:alert] %>
					  <p><%= flash[:alert] %></p>
					<% end %>
		    </div>
		 <% end %>
	</div>
	<div class="col-lg-3">
    </div>
</div>
