<!DOCTYPE html>
<html>
  <head>
    <title>Ramen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if user_signed_in? %>
      <header>
        <div class="header-content">
          <%= link_to 'Ramen-Hunters', root_path, class: "logo" %>
          <ul class="flex">
            <li><%= link_to '探す', root_path %></li> <%#パスを変更 %>
            <li><%= link_to '新規投稿', new_post_path %></li>
            <li><%= link_to 'マイページ', user_path(id: current_user) %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </header><!-- /header -->
    <% else %>
      <header>
        <div class="header-content">
          <%= link_to 'Ramen-Hunters', root_path, class: "logo" %>
          <ul class="flex">
            <li><%= link_to 'about', root_path %></li> <%#パスを変更 %>
            <li><%= link_to '探す', root_path %></li> <%#パスを変更 %>
            <li><%= link_to 'ログイン', new_user_session_path %></li>
            <li><%= link_to '新規登録', new_user_registration_path %></li>
          </ul>
        </div>
      </header>
    <% end %>

    <main>
    <%= yield %>
    </main>
  </body>
</html>

